name: Build & Publish

on:
  workflow_run:
    workflows: ["Lint & Test"]
    branches: ["main"]
    types: ["completed"]

jobs:
  build:
    if: github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push'
    name: Build & Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2 # Checking out the repo

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            techwithtim/cdn:latest
            techwithtim/cdn:${{ github.sha }}
          builder: ${{ steps.buildx.outputs.name }}
          cache-to: type=local,dest=/tmp/.buildx-cache
          cache-from: type=local,src=/tmp/.buildx-cache

  deploy:
    name: Deploy on Kubernetes cluster
    runs-on: ubuntu-20.04
    needs: build

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          repository: Tech-With-Tim/k8s
          token: ${{ secrets.REPO_TOKEN }}

      - name: Deploy to Kubernetes
        uses: fjogeleit/yaml-update-action@master
        with:
          repository: Tech-With-Tim/k8s
          token: ${{ secrets.REPO_TOKEN }}
          branch: "main"
          createPR: "false"
          updateFile: "true"
          message: "Redeploy CDN"
          valueFile: "cdn/deployment.yml"
          propertyPath: "spec.template.spec.containers.0.image"
          value: "techwithtim/cdn:${{ github.sha }}"
